@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--chisel: 0.5em;
		--chisel-2: calc(100% - var(--chisel));
	}

	::selection {
		@apply bg-accent/30;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		@apply font-sans text-ink accent-accent;
	}

	summary {
		cursor: pointer;
		display: block;
		user-select: none;
	}

	label {
		cursor: pointer;
	}

	::-webkit-details-marker { display: none; }

	:target {
		scroll-margin-top: var(--header-height);
	}
}

@layer components {
	._h { font-weight: bold;}
	.h0 { @apply _h text-5xl; }
	.h1 { @apply _h text-3xl; }
	.h2 { @apply _h text-2xl; }

	.link {
		@apply underline hover:decoration-2;
	}
	.link-hover {
		@apply hover:underline;
	}

	.chiseled { clip-path: polygon(var(--chisel) 0, 100% 0, 100% var(--chisel-2), var(--chisel-2) 100%, 0 100%, 0 var(--chisel)); }
	.chiseled-b { clip-path: polygon(0 0, 100% 0, 100% var(--chisel-2), var(--chisel-2) 100%, var(--chisel) 100%, 0 var(--chisel-2)); }

	.action {
		position: relative;
		padding: 0.5em 1em;
		box-shadow: 0 1em 1em #fff;

		@apply with-icon border border-current chiseled hover:bg-white/10;
	}
	.action::after,
	.action::before  {
		--size: calc(var(--chisel) / 2);
		content: '';
		position: absolute;
		border: var(--size) solid transparent;
	}
	.action::before {
		left: 0;
		top: 0;
		border-left: var(--size) solid;
		border-top: var(--size) solid;
	}
	.action::after {
		right: 0;
		bottom: 0;
		border-right: var(--size) solid;
		border-bottom: var(--size) solid;
	}

	.highlight > * {
		transition: filter 0.1s ease-in-out;
	}
	.highlight:hover > * {
		filter: saturate(1.2) brightness(1.2);
	}

	.section {
		padding: 2rem 1rem;
		margin-inline: auto;

		@apply max-w-screen-xl;
	}
}

@layer utilities {
	.sticky-top {
		position: sticky;
		top: calc(var(--header-height) + var(--offset, 0px));
	}

	.scroll-snap { scroll-snap-type: x mandatory; }
	.scroll-snap > * { scroll-snap-align: center; }

	.full-width {
		width: 100vw;
		margin-inline: calc(50% - 50vw);
	}

	.with-icon {
		display: inline-flex;
		gap: 0.25ch;
		align-items: center;
		justify-content: flex-start;
	}

	.glass {
		@apply bg-white/80 backdrop-blur backdrop-saturate-[1.8];
	}

	.dots {
		--size: 0.9rem;
		background-image: radial-gradient(var(--dots, #fff2) 1px, transparent 1px);
		background-size: var(--size) var(--size);
	}
	.dots.moving {
		animation: moving 1s linear infinite;
	}

	@keyframes moving {
		0% { background-position: 0 0; }
		100% { background-position: var(--size) var(--size); }
	}

	.text-gradient {
		background-clip: text;
		color: transparent;
		@apply bg-gradient-to-br from-accent to-red-200;
	}

	.text-shadow {
		text-shadow: 0 0.5em 1em theme(colors.ink);
	}

	.anim-fade {
		opacity: 0;
		animation: fade 0.5s ease-in-out calc(var(--delay, 0) * 0.01s) forwards;
	}
	@keyframes fade {
		to { opacity: 1; }
	}

	.prose > * + * { margin-top: 1em; }
	.prose > :empty { display: none; }
}
