@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	:target {
		scroll-margin-top: var(--header-height);
	}

	summary {
		cursor: pointer;
		display: block;
	}

	::-webkit-details-marker { display: none; }

	.debug {
		outline: 1px dashed;
		margin: 1rem;
	}
}

@layer components {
	._h { font-weight: bold;}
	.h0 { @apply _h text-5xl; }
	.h1 { @apply _h text-3xl; }

	.link {
		@apply underline hover:decoration-2;
	}
}

@layer utilities {
	.sticky-top {
		position: sticky;
		top: var(--header-height);
	}
}
