@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	:target {
		scroll-margin-top: var(--header-height);
	}

	summary {
		cursor: pointer;
		display: block;
	}

	::-webkit-details-marker { display: none; }
}

@layer components {
	._h { font-weight: bold;}
	.h0 { @apply _h text-5xl; }
	.h1 { @apply _h text-3xl; }
	.h2 { @apply _h text-2xl; }

	.link {
		@apply underline hover:decoration-2;
	}

	.action {
		padding: 0.5em 1em;
		border: 1px solid;
		@apply with-icon;
	}

	.section {
		padding: 2rem 1em;
		margin-inline: auto;

		@apply max-w-screen-xl;
	}
}

@layer utilities {
	.sticky-top {
		position: sticky;
		top: var(--header-height);
	}

	.scroll-snap { scroll-snap-type: x mandatory; }
	.scroll-snap > * { scroll-snap-align: center; }

	.full-width {
		width: 100vw;
		margin-inline: calc(50% - 50vw);
	}

	.with-icon {
		display: inline-flex;
		gap: 0.25ch;
		align-items: center;
		justify-content: flex-start;
	}

	.glass {
		@apply bg-white/80 backdrop-blur;
	}

	.prose > * + * { margin-top: 1em; }
	.prose > :empty { display: none; }
}
